<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Storage Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>

  <ion-button (click)='saveString()'>Save a String</ion-button>

  <ion-button (click)='getString()'>Retrieve String</ion-button>

  <ion-button (click)='saveArray()'>Save a Array</ion-button>

  <ion-button (click)='getArray()'>Retrieve Array</ion-button>

  <ion-button (click)='saveMap()'>Save a Map</ion-button>

  <ion-button (click)='getMap()'>Retrieve Map</ion-button>

  <br style="clear:both"/>

  <ion-button (click)='addClassObject()'>Add a Class Object</ion-button>

  <ion-button (click)='saveAllClassObjects()'>Save a Class Object to Memory</ion-button>

  <ion-button (click)='getAllClassObjects()'>Retrieve a Class Object from Memory</ion-button>

  <hr/>

  <div class="showNumber" *ngFor="let numhol of nh;let i=index;"
  (click)="incNum(i)">{{numhol.value}}</div>


</ion-content>
